/* Add your CSS styles here */

.wrapper {
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  font-size: 40px;
}

h1 {
  text-align: center;
  color: #333;
  font-size: 45px;
}

.Sections {
  margin-bottom: 20px;
}

.myButton {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 40px;
}

.questions {
  font-size: 40px;
  color: #333;
  margin-bottom: 10px;
}

.answers button {
  display: block;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: lightsalmon;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-size: 40px;
}

.checkAnswers {
  margin-top: 20px;
}

.result {
  margin-top: 10px;
  font-weight: bold;
}

#show-incorrect {
  display: none;
  font-size: 40px;
}
